@font-face {
  font-family: "IBM Plex Sans Condensed";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/ibmplexsanscondensed/v13/Gg8lN4UfRSqiPg7Jn2ZI12V4DCEwkj1E4LVeHYapyK4.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

body {
  margin: 0;
  background: #f4f5f7;
}

.sidenav {
  font-family: "IBM Plex Sans Condensed";
  height: 100%;
  width: 70px;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #0d28a6;
  overflow-x: hidden;
}

.sidenav-brand {
  text-align: center;
}

.sidenav-brand img {
  margin: 18px;
  width: 34px;
  height: 34px;
}

.sidenav-item {
  padding: 10px;
  text-decoration: none;
  color: #fff;
  display: block;
  text-align: center;
}

.sidenav-item img {
  width: 24px;
  height: 24px;
}

.sidenav-item span {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height, or 150% */

  text-align: center;
}

.sidenav-item:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.sidenav-item.active {
  background: rgba(255, 255, 255, 0.4);
  color: #fff;
}

.sidenav-item.active span {
  font-weight: 700;
}

.sec-sidebar {
  height: 100%;
  width: 290px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 0px;
  padding-left: 70px;
  /* margin-left: 70px; */
}

.sec-sidebar-head {
  height: 70px;
  width: 220px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
  margin-bottom: 23px;
}

.sec-sidebar-head img {
  margin: 18px 0px 18px 24px;
}

.sec-sidebar-title {
  padding: 11px 11px 11px 24px;
  font-family: "IBM Plex Sans Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #8a8a8a;
}

.sec-sidebar-item {
  margin: 8px 0px;
  padding: 11px 11px 11px 24px;
  text-decoration: none;
  font-size: 25px;
  color: #151515;
  display: block;
  transition: 0.3s;
  font-family: "IBM Plex Sans Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.sec-sidebar-item:hover {
  background: #cfd4ed;
}

.sec-sidebar-item.active {
  background: #cfd4ed;
}

.topnav {
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: #fff;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 0px;
  padding-left: 290px;
}

.topnav-item {
  display: inline;
  margin: 0px;
  height: 100%;
  text-align: center;
}

.topnav-right {
  margin-right: 30px;
  position: absolute;
  right: 0.5em;
  top: 50%;
  transform: translate(0, -50%);
}

.form-group {
  display: inline;
  height: 36px;
  margin-right: 25px;
}

.form-search {
  padding: 12px 12px;
  width: 174px;
  height: 100%;
  background: #ffffff;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
  margin-right: 0px;
  font-family: "IBM Plex Sans Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #8a8a8a;
}

.btn-search {
  padding: 9px 12px;
  width: 70px;
  background: #ffffff;
  border: 1px solid #0d28a6;
  border-radius: 2px;
  font-family: "IBM Plex Sans Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #0d28a6;
}

.profile-name {
  font-family: "IBM Plex Sans Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #151515;
  margin-left: 8px;
  margin-right: 14px;
}

.openbtn {
  border: none;
  background: none;
  padding-left: 23px;
}

.breadcrumb-item {
  font-family: "IBM Plex Sans Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #000;
}

.breadcrumb-item a {
  text-decoration: none;
  color: #000;
}

.breadcrumb-item.active {
  font-weight: 300;
}

.heading-page {
  height: 36px;
  width: auto;
  display: flex;
}

.page-title {
  font-family: "IBM Plex Sans Condensed";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  margin: 8px 0;
}

.item-right {
  margin-right: 30px;
  position: absolute;
  right: 0.5em;
}

.wrapper {
  margin-top: 8px;
  padding: 16px;
  width: 100%;
  background-color: #fff;
  border-radius: 2px;
}

input {
  height: 36px;
  width: 339px;
  padding: 9px 12px;
  border: #d0d0d0 1px solid;
  border-radius: 2px;
  font-family: "IBM Plex Sans Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #000;
}

input::placeholder {
  font-family: "IBM Plex Sans Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #8a8a8a;
}

select {
  height: 36px;
  width: 339px;
  padding: 0 9px;
  border: #d0d0d0 1px solid;
  border-radius: 2px;
  font-family: "IBM Plex Sans Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #000;
}

select option {
  font-family: "IBM Plex Sans Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #000;
}

.form-select.placeholder {
  color: #8a8a8a;
}

.input-rule {
  font-family: "IBM Plex Sans Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 14px;
  color: #8a8a8a;
}

.col-form-label {
  font-family: "IBM Plex Sans Condensed";
  font-style: normal;
  padding: 9px 0;
  margin-left: 16px;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #3c3c3c;
}

.btn-outline-primary {
  padding: 8px 12px;
  margin-right: 16px;
  width: auto;
  background: transparent;
  border: 1px solid #0d28a6;
  border-radius: 2px;
  font-family: "IBM Plex Sans Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #0d28a6;
  text-decoration: none;
}

.btn-outline-danger {
  padding: 8px 12px;
  width: auto;
  background: transparent;
  border: 1px solid #fa2c5a;
  border-radius: 2px;
  font-family: "IBM Plex Sans Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #fa2c5a;
  text-decoration: none;
}

.btn-outline-danger:hover {
  background-color: #fa2c5a;
  color: #fff;
}

.btn-outline-primary.active {
  background-color: #cfd4ed;
}

.btn-primary {
  /* margin: 0 17px; */
  padding: 8px 12px;
  width: auto;
  background: #0d28a6;
  border: 1px solid #0d28a6;
  border-radius: 2px;
  font-family: "IBM Plex Sans Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}

.btn-secondary {
  /* margin: 0 17px; */
  padding: 8px 12px;
  width: auto;
  background: #5cb85f;
  border: 1px solid #5cb85f;
  border-radius: 2px;
  font-family: "IBM Plex Sans Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.btn-secondary:hover {
  background-color: #5ecf61;
  border: 1px solid #5ecf61;
  color: #f4f5f7;
}

.bg-primary {
  background-color: #0d28a6 !important;
}

.bottom {
  position: absolute;
  bottom: 40px;
}

.card {
  background-color: #fff;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}

.card-header {
  height: 300px;
  overflow: hidden;
  position: relative;
  padding: 0;
  margin-bottom: 16px;
  border-radius: none;
}

.card-img-top {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  object-fit: cover;
}

.car-title {
  font-family: "IBM Plex Sans Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  margin: 0;
}

.car-price {
  font-family: "IBM Plex Sans Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.car-update-info {
  font-family: "IBM Plex Sans Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.modal-dialog {
  width: 387px;
}

.title-modal {
  font-family: "IBM Plex Sans Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.desc-modal {
  font-family: "IBM Plex Sans Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

/* .card-body {
} */

#content {
  padding: 103px 25px 25px 25px;
  margin-left: 290px;
  /* margin-top: 100px; */
  transition: margin-left 0.5s;
}

::-webkit-file-upload-button {
  display: none;
}
::file-selector-button {
  display: none;
}
